<!DOCTYPE html>
<!-- "Contract Manager" per Ben #1519 -->


<table width="100%" border="0" cellspacing="5" cellpadding="10">
  <tbody>
    <tr>
      <td colspan="3"><h1>Contract Manager</h1></td>
    </tr>
    <tr>
      <td><h2>Active: <a href="#">14</a></h2></td>
      <td><h2>Expired: <a href="#">3</a></h2></td>
      <td><h2>In Defualt: <a href="#">2</a></h2></td>
    </tr>
    <tr>
      <td colspan="3"><table width="100%" border="0" cellspacing="5" cellpadding="10">
          <tbody>
            <tr>
              <td>Customer</td>
              <td>Company</td>
              <td>IP</td>
              <td>Email</td>
              <td>Contract Start Date</td>
              <td>Admin Notes</td>
              <td>Days Remaining</td>
              <td>PDF</td>
            </tr>
            <tr>
              <td>Ben Simpson</td>
              <td>HD Net Ltd</td>
              <td>49.50.247.1</td>
              <td>ben@hd.net.nz</td>
              <td>10/06/2016 : 10:51</td>
              <td><textarea name="textarea" cols="50" rows="3" id="textarea"></textarea>
                <br>
                <input type="submit" name="submit" id="submit" value="Submit"></td>
              <td><strong>245</strong></td>
              <td><input type="button" name="button" id="button" value="Email to Customer">
                <br>
                <input type="button" name="button2" id="button2" value="View PDF"></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>

