html/assets
html/templates_c/*
html/configuration.php
html/bower_components
.*swp
attachments/*
.vscode
configuration.php
.vagrant
*.retry
*.ignore
html/nbproject
xdebug/
html/.well-known/
npm-debug.log
html/modules/service/hdradius
.tags*
vendor/
html/vendor
composer.lock
html/bower_components
