/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2016, 4:08:24 PM
    Author     : peter
*/

.grey-backgroud{

    background: #efefef;
}
.checkbox-padding{

    padding:3px 0px 4px 0px;
}