<!DOCTYPE html>
<!-- "Invoice Payment Monitor" per Ben #1521 -->


<table width="100%" border="0" cellspacing="5" cellpadding="10">
  <tbody>
    <tr>
      <td colspan="3"><h1>Invoice Payment Monitor</h1></td>
    </tr>
    <tr>
      <td width="37%"><h2>Monitoring Invoices: <a href="#">15</a></h2></td>
      <td width="37%"><h2>Paid Off: <a href="#">16</a></h2></td>
      <td width="26%"><h2>Suspended: <a href="#">5</a></h2></td>
    </tr>
    <tr>
      <td colspan="3"><table width="100%" border="0" cellspacing="5" cellpadding="10">
          <tbody>
            <tr>
              <td>Customer</td>
              <td>Company</td>
              <td>Invoice ID</td>
              <td>Email</td>
              <td>Mobile</td>
              <td>Admin Notes</td>
              <td>List of Payment Transactions</td>
              <td>The Agreement</td>
              <td>PDF</td>
            </tr>
            <tr>
              <td><a href="#">Ben Simpson</a></td>
              <td>HD Net Ltd</td>
              <td>#<a href="#">45151<br>
                <table width="100%" border="0" cellspacing="5" cellpadding="10">
                  <tbody>
                    <tr>
                      <td>Invoice Total</td>
                      <td>$195</td>
                    </tr>
                    <tr>
                      <td bgcolor="#FFD8D9"><strong>Left Due:</strong></td>
                      <td bgcolor="#FFD8D9"><strong>$167.6 </strong></td>
                    </tr>
                  </tbody>
                </table>
                </a></td>
              <td>ben@hd.net.nz</td>
              <td>021467440</td>
              <td><textarea name="textarea" cols="50" rows="3" id="textarea">Bad Benny
              </textarea>
                <br>
                <input type="submit" name="submit" id="submit" value="Submit"></td>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="10">
                  <tbody>
                    <tr>
                      <td bgcolor="#CDFCC8">$15.20</td>
                      <td bgcolor="#CDFCC8">10/05/2016</td>
                    </tr>
                    <tr>
                      <td bgcolor="#CDFCC8">$12.20</td>
                      <td bgcolor="#CDFCC8">05/05/2016</td>
                    </tr>
                  </tbody>
                </table></td>
              <td><table width="100%" border="0" cellspacing="5" cellpadding="10">
                  <tbody>
                    <tr>
                      <td bgcolor="#CDFCC8"><label for="textfield4">Days to Pay:</label></td>
                      <td bgcolor="#CDFCC8"><input name="textfield" type="text" id="textfield" value="90"></td>
                    </tr>
                    <tr>
                      <td bgcolor="#FCC8D6">Last Date</td>
                      <td bgcolor="#FCC8D6"><input name="textfield2" type="text" id="textfield2" value="15/09/2016"></td>
                    </tr>
                    <tr>
                      <td bgcolor="#CDFCC8"><label for="textfield3">Agreed Amount:</label></td>
                      <td bgcolor="#CDFCC8"><input name="textfield3" type="text" id="textfield3" value="12"></td>
                    </tr>
                  </tbody>
                </table></td>
              <td><p>
                  <input type="button" name="button" id="button" value="72HR Suspension Warning">
                  <br>
                  <input type="button" name="button2" id="button2" value="24HR Suspension Warning">
                  <br>
                  <input type="button" name="button3" id="button3" value="Suspend">
                </p></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>


