/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/09/2016, 4:08:24 PM
    Author     : peter
*/

.customefield{
    padding:15px;
}

.textgreen{
    color: green;
}

.textred
{
    color:red;
}
.breadcrumb-wrap{
    float: left;
    margin-top: 9px

}
.breadcrumb{

    margin-bottom: 0px;
}
.search-bar{
    padding-top: 8px;

}
.tableitem{
    margin-right: 5px;
    display: inline; 
}
.table td{
    vertical-align: middle!important;
}