/* GENERAL */

html {height: 100%;}
body{font-family:'Roboto', sans-serif; font-size: 13px;}
.badge{font-size: 12px;}
.bodybg {
    position: fixed;
    width: 150vw;
    height: 150vh;
    margin: -20vmin;
    background-image: url(/templates/uihex/img/bodybg.jpg);
    background-size: 100%;
    filter: blur(100px);
}
.bodybg1 {
    position: fixed;
    width: 150vw;
    height: 150vh;
    margin: -20vmin;
    background-color: rgba(28, 40, 82, 0.4);
}
.container {
    width: 100%;
    max-width: 1234px;
}
.row {
    margin:0;
}
.row.head{
    display: block;
    position: relative;
    /*margin-left: 50%;
    margin-right: 50%;
    left: -50vw;
    right: -50vw;
    width: 100vw;
    background-color: rgb(252, 252, 253);
    -webkit-box-shadow: 0px 10px 29px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 29px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 54px 2px rgba(0,0,0,0.5);
    z-index: 1;*/
}

.row.welcome .col-md-12 {
    padding-left: 25px;
    padding-right: 25px;
}
.row.welcome .col-md-12 h3 {
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: 0.02em;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(28, 40, 82, 0.6);
}
.row.welcome .col-md-12 h3 strong {
    font-weight: 400;
}
.border,.border tr{  
    border: 1px solid #ccc;
}
.border
{
    width: 95%;
}
.border td:first-child
{
    width: 55%
}
.leftbox{
    float: left;
    padding: 20px 10px 20px 20px!important;
    margin-right: 10px;
}
.leftbox span{

    font-size: 40px!important;
}

.full-width-table
{
    width: 100%;
}
.full-width-table td{
    padding: 5px;
}

.border td
{
    padding:10px!important;
}
.table-wrap form {
    border-radius: 7px;
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{font-family:'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:normal;color:#1c2852;}
.alert-white{background-color: #fefefe;border-color: #e26148;border: 1px solid #e3e3e3;}
.alert-success {color: #ffffff; background-color: #53bb71;}
.alert-danger{ color: #ffffff; background-color:#ef4160;}
.alert-warning{color:#ff9500;background-color:#eeeef2;border-color:#ddd;}
.alert {position: absolute; left: 50%; margin-left: -150px; padding: 5px; border-radius: 4px; width: 300px; text-align: center; margin-top: -35px;}
.primary-color{color:#5496dc;}
.well{background-color:#fefefe;-webkit-box-shadow:0 0 3px #fff;-moz-box-shadow:0 0 3px #fff;box-shadow:0 0 3px #fff;border-radius:3px;}
blockquote.page-information{border-left:5px solid #475B65;background:#f9f9f9;-webkit-transition:500ms ease;-moz-transition:500ms ease;-o-transition:500ms ease;-ms-transition:500ms ease;transition:500ms ease;margin:0 0 20px;padding:10px 20px;}
blockquote.page-information p{font-size:14px;font-weight:400;}
dd{line-height:25px;font-weight:400;margin-bottom:10px;}
hr{color:#ddd;border-color:#ddd;}

/* TWEAKS */
[id*='customfield']{display:block;width:100%;height:34px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;padding:6px 12px;}
#stateselect{width:100%;height:34px;font-size:14px;border-radius:4px;vertical-align:middle;border:1px solid #ccc;color:#555;line-height:1.428571429;padding:6px 12px;}
.nav-tabs {border: none}
.nav-tabs > li{ margin-bottom: 0; margin-right: 1px}
.nav-tabs > li > a{border:none;}
.nav-tabs.account > li > a{color: rgba(255, 255, 255, 0.6); border-radius: 7px 7px 0 0; margin: 0; min-height: 40px; text-align: center; background-color: rgb(97, 113, 149); padding: 10px 40px;}
.nav-tabs.account > li.active > a{font-size: 1.1em; min-height: 46px; margin: -6px 0; padding: 12px 40px 8px; font-weight: 700; letter-spacing: 0.1em;}
#tabs{margin-bottom:10px;}
.item-title{color:#000;}
label,dt{font-weight:400;}
.menu-avatar{margin-right:5px;}
div.adminreturndiv{
    font-size: 13px;
    padding: 5px 10px;
    color: white;
    left: 50%!important;
    margin-left: -154px;
    top: 0;
    position: fixed;
    background-color: #1c2852!important;
}
.logo-page a{text-decoration:none;}
.info-details h4{font-size:14px;}
.site-holder.mini-sidebar .info-details h4{font-size:18px;}
.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th,.panel-default>.panel-heading{background-color:#eeeef2;}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus,.panel,.panel-body{background-color: rgb(110, 146, 203);border-color: rgb(110, 146, 203);color: #fff;}
.pagination,.recordslimit{margin:10px 0;}
.subhide,.subhidden,#languagefrm{display:none;}

/* STATUS AND BADGES */
.label{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.05em;
    display: block;
    border-radius: 20px;
    padding: 4px 8px;
    max-width: 75px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}
.label.pending{background-color:#F89406;}
.label.active{background-color:#46A546;}
.label.suspended{background-color:#0768B8;}
.label.terminated{background-color:#C43C35;}
.label.cancelled{background-color:#BFBFBF;}
.label.expired{background-color:#888;}
.label.fraud{background-color:#000;}
.label.unpaid{background-color:#c00;}
.label.paid{background-color:#53bb71;}
.label.draft{background-color: rgba(118, 130, 156, 0.33);}
.label.refunded{background-color:#248;}
.label.collections{background-color:#D3C403;}
.badge-important{background-color:#8fce35;}
.badge-success{background-color:#5dd0ed;}
.badge-warning{background-color:#f0ad4e;}
.badge-circle{border-radius:13px;padding:7px 10px;}
.label.pendingtransfer{background-color:#f0ad4e;}
.menu-holder .badge-default{background-color:#475b65}

/* TWITTER FEED */

#twitterfeed ul{list-style-type:none;margin:15px 0 20px;padding:0;}
#twitterfeed li{background-image:url(../../../images/twittericon.png);background-repeat:no-repeat;background-position:0;padding-left:25px;margin:0 20px 10px;}
#twitterfeed p{text-align:center;margin:15px;}
.tweetbutton {float:right;margin: 0 0 20px 30px;}

/* POPUP */

body.popupwindow{background-color:#efefef;margin:0;padding:15px;}
body.popupwindow .popupcontainer{height:250px;background-color:#fff;border:1px solid #ccc;overflow:auto;margin:15px;padding:15px;}

/* TICKET RATING */

table.ticketrating{display:table;width:auto;border:0;border-spacing:1px;border-collapse:separate;margin-top:0;margin-bottom:0;font-size:11px;box-sizing:border-box;text-indent:0;-moz-border-radius:0;-webkit-border-radius:0;-o-border-radius:0;border-radius:0;}
table.ticketrating td{display:table-cell;min-width:16px;line-height:16px;vertical-align:inherit;text-align:inherit;border:0;padding:0;}
table.ticketrating td.point{cursor:hand;}
table.ticketrating td.star{background:url(../../../images/rating_neg.png);cursor:hand;}

/* CHAT TRANSCRIPTS */

div.chat div.visitor div.name,div.chat div.operator div.name{font-weight:700;}
div.chat div.visitor div.message,div.chat div.operator div.message{padding:0 25px;}

/* SECURITY */

div#twofaactivation{width:75%;min-height:250px;background-color:#fff;border:4px solid #efefef;text-align:center;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;border-radius:10px;margin:50px auto;padding:20px;}
div#twofaactivation .errorbox{background-color:#FF4F4F;text-shadow:none;color:#fff;text-align:center;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;border-radius:5px;margin:0 0 20px;padding:10px 20px;}
div.twofabackupcode p{font-size:24px;line-height:24px;margin:0;}
div#twofaactivation p,div.twofabackupcode{margin:15px 0;}

/* CLIENT AREA HOME */

.clientarea-normal{text-align:center;margin-top:15px;}
.clientarea-normal.rounded .clientarea-button{margin-left:10px;margin-right:10px;}
.clientarea-normal.rounded .clientarea-button a{border-radius:50% 50% 50% 50%;padding:16px;}
.clientarea-normal .clientarea-button{display:inline-block;margin-bottom:15px;position:relative;text-align:center;}
.clientarea-normal .clientarea-button a{background-color:#fff;border:1px solid #e3e3e3;border-radius:3px;-webkit-box-shadow:0 0 3px #fff;-moz-box-shadow:0 0 3px #fff;box-shadow:0 0 3px #fff;color:#626262;display:block;min-width:156px;white-space:nowrap;padding:10px 0;}
.clientarea-normal .badge,.clientarea-normal .label{box-shadow:none;display:block;position:absolute;right:20px;top:3px;padding:3px 5px;}
.clientarea-normal .clientarea-button a:hover{text-decoration:none;cursor:pointer;}
.clientarea-normal .clientarea-button a:active{box-shadow:none;}
.clientarea-normal .clientarea-button a > span{display:block;font-weight:300;font-size:30px;padding-top:4px;color:#535967!important;}
.clientarea-normal .clientarea-button a > i{color:gray;font-size:32px;}
.clientarea-normal .clientarea-button.default a{border:1px solid #D9D9D9;box-shadow:0 1px 2px 0 #F8F8F8 inset;}
.clientarea-normal .clientarea-button.default a:hover{opacity:0.95;transition:opacity .2s ease-in-out 0;}
.clientarea-normal .clientarea-order a{background-color:#e26148;}
.clientarea-normal .clientarea-kb a{background-color:#f2bb49;}
.clientarea-normal .clientarea-status a{background-color:#a9b0bb;}
.clientarea-normal .clientarea-order a > span,.clientarea-normal .clientarea-order h4,.clientarea-normal .clientarea-kb a > span,.clientarea-normal .clientarea-kb h4,.clientarea-normal .clientarea-status a > span,.clientarea-normal .clientarea-status h4{color:#fff!important;}

/* PASSWORD STRENGTH */

#pwstrengthbox{background-color:#fff;width:100%;margin-top:7px;color:#9a9a9a;text-align:center;font-weight:400;display:inline-block;padding:5px 15px;}
#pwstrengthbox.strong{color:#468847;background-color:#dff0d8;font-weight:400;}
#pwstrengthbox.moderate{color:#c09853;background-color:#fcf8e3;font-weight:400;}
#pwstrengthbox.weak{background-color:#f2dede;color:#b94a48;font-weight:400;}

/* TABLES AND FORMS */

.cell-inner-list{list-style-type:none;margin:5px 0;padding:0;}
.form-inline .form-group{margin-left:0;margin-right:0;}
.inputs-list{list-style-type:none;}
table th a{color:#666;cursor:pointer;font-size:12px;font-weight:600;text-shadow:0 1px rgba(255,255,255,0.5);}
table .headerSortasc{background-image:url(../img/sortasc.png);background-repeat:no-repeat;background-position:95% 50%;}
table .headerSortdesc{background-image:url(../img/sortdesc.png);background-repeat:no-repeat;background-position:95% 50%;}
.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td{border-top:1px solid #e8e8e8; text-align: center;}

/* BOOTSTRAP PRICING TABLE */

.pricing{padding:10px 15px;}
.pricing .plan.first{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pricing .plan.last{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pricing .plan.popular{border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-radius:5px;}
.pricing .plan.popular .header{margin-bottom:20px;border-top-left-radius:5px;border-top-right-radius:5px;color:#fff;}
.pricing .plan.popular .header h2{color:#fff;}
.pricing .col-sm-3,.pricing .col-md-3{padding-left:0;padding-right:0;}
.pricing .col-sm-4,.pricing .col-md-4{padding-left:0;padding-right:0;}
.pricing .plan.last .header{border-top-right-radius:5px;}
.pricing .plan.first .header{border-top-left-radius:5px;}
.plan{box-shadow:0 2px 2px #aaa;min-height:90px;background:#fff;border-radius:5px;padding-bottom:25px;text-align:center;margin:20px 0;}
.plan .header{border-top-left-radius:5px;border-top-right-radius:5px;background:#eee;color:#999;padding:12px 15px;}
.plan .header h1,.plan .header h2,.plan .header h3{font-weight:200;margin:0;padding:0;}
.plan .price{border-top:1px dashed #ddd;width:90%;margin:0 auto 30px;}
.plan .price h3{font-size:60px;vertical-align:top;line-height:1;}
.plan .price h3 span{font-size:40px;vertical-align:top;position:relative;display:inline-block;margin:6px 0 0 -7px;}
.plan .price h4{color:#aaa;font-size:14px;}
.plan .btn{padding:15px 30px;}
.plan ul{list-style-type:none;margin-top:2px;padding:20px;}
.plan ul li{line-height:22px;margin-bottom:15px;}
.plan ul li a{text-decoration:underline;color:#e6e9ed;}
.plan ul li:last-child{border-bottom:none;}
.plan.popular{margin-top:6px;box-shadow:0 0 15px #aaa;position:relative;z-index:99;border-radius:5px;}
.plan.popular .header{border-top-left-radius:5px;border-top-right-radius:5px;background:#3a84b5;color:#fff;}
.plan.popular .btn{margin-bottom:10px;}
.pricing .plan,.pricing .plan .header{border-radius:0;}

/* FILE UPLOAD FORM */

.btn-file{position:relative;overflow:hidden;}
.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:999px;text-align:right;filter:alpha(opacity=0);opacity:0;background:red;cursor:inherit;display:block;}
input[readonly]{background-color:#FFF!important;cursor:text!important;}

/* NAVBAR OVERRIDES */

.navbar{
    border-radius: 0;
    margin-bottom: 0;
    border: none;
    height: 120px;
    max-width: 1234px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-header {width: 25%; float: left;}
.navbar .navbar-brand {height: 110px; max-width: 279px; background: white; border-radius: 0 0 7px 7px;padding: 18px 15px;    box-shadow: 0 19px 55px -8px rgba(0,0,0,0.3);}
.navbar .navbar-brand a{color:#fff;font-size:32px;line-height:50px;font-weight:100;}
.navbar .navbar-brand span.logo{padding:6px;}
.navbar .navbar-brand:hover{color:#eee;}
.navbar .navbar-brand img{height: 60px;border: 0;border-radius: 0;padding: 0;}
.navbar .btn-nav-toggle-responsive{background:none;border-radius:0;color:#fff;border-color:#ccd6de;}
.navbar .top-navbar{margin-right:50px!important;}
.navbar .user-menu{margin-right:15px!important;}
.navbar .user-menu.top-navbar-usermenu > li > ul.dropdown-menu{margin-top:10px!important;}
.navbar .user-menu > li > a{padding:15px 0 10px;}
.navbar .user-menu > li ul.dropdown-menu{margin-top:3px;border-color:#ddd;border-width:0 1px 1px;}
.navbar .user-menu > li ul.dropdown-menu .divider{background-color:#eee;}
.navbar .user-menu > li ul.dropdown-menu > li:first-child:before{content:"";height:0;position:absolute;right:15px;top:-9px;width:0;transform:rotate(360deg);border-color:transparent transparent #FFF;border-style:solid;border-width:0 9px 9px;}
.navbar .user-menu > li ul.dropdown-menu > li > a{color:#495b79;}
.navbar .user-menu > li ul.dropdown-menu > li.active > a{color:#fff;}
.navbar .user-menu > li ul.dropdown-menu.inbox{width:300px;margin-bottom:0!important;padding-bottom:0;border-bottom:0!important;}
.navbar .user-menu > li ul.dropdown-menu.inbox > li > a{padding-top:10px;padding-bottom:10px;border-bottom:1px solid #d9dfe8!important;}
.navbar .user-menu > li ul.dropdown-menu.inbox > li > a .avatar{float:left;margin-right:10px;width:50px;height:50px;border-radius:50%;}
.navbar .user-menu > li ul.dropdown-menu.inbox > li:last-child{background:#495b79;border-radius:4px;}
.navbar .user-menu > li ul.dropdown-menu.inbox > li:last-child a{color:#FFF;border-bottom:0!important;border-top-left-radius:0;border-top-right-radius:0;}
.navbar .user-menu > li ul.dropdown-menu.inbox .message .username{font-weight:700;display:inline-block;}
.navbar .user-menu > li ul.dropdown-menu.inbox .message .time{font-weight:100;font-style:italic;color:#7a8dae;font-size:12px;display:inline-block;}
.navbar .user-menu > li ul.dropdown-menu.inbox .message p{overflow:hidden;color:#7a8dae;font-size:12px;display:block;}
.navbar .user-menu > li ul.dropdown-menu.notifications{margin-bottom:0!important;padding-bottom:0;padding-top:0;width:400px;}
.navbar .user-menu > li ul.dropdown-menu.notifications > li > a{border-bottom:1px solid #d9dfe8!important;padding:0;}
.navbar .user-menu > li ul.dropdown-menu.notifications > li > a span.noty-icon{width:40px;text-align:center;display:inline-block;padding:10px;}
.navbar .user-menu > li ul.dropdown-menu.notifications > li > a .description{padding-left:5px;display:inline-block;}
.navbar .user-menu > li ul.dropdown-menu.notifications > li > a .time{font-size:12px;display:inline-block;opacity:0.5;padding:5px;}
.navbar .user-menu > li ul.dropdown-menu.notifications > li:last-child a{border-bottom:0!important;border-top-left-radius:0;border-top-right-radius:0;}
.navbar .navbar-nav > li > a{color:#fff;line-height:67.78px;}
.navbar .navbar-nav > li > a:hover,.navbar .navbar-nav > li > a:focus{color:#e6e6e6;background-color:transparent;}
.navbar .navbar-nav > li > a .user-avatar{border-radius:50%;border:1px solid #5b6d7d;margin-left:-22px;margin-top:-10px;width:44px;}
.navbar .navbar-nav > li > a span.username{background-color:#475b65;border:1px solid #5B6D7D;font-size:12px;padding:16px 10px 9px 0;}
.navbar .navbar-nav > li > a.settings > i{background-color:#475b65;border:1px solid #5b6d7d;border-left:0;font-size:18px;height:49px;padding:12px 10px;}
.navbar .navbar-nav > li > a.settings > span.icon{background-color:#475b65;border:1px solid #5b6d7d;border-left:0;font-size:18px;height:49px;padding:12px;}
.navbar .navbar-nav > li > a .settings-toggle{border-radius:0 4px 4px 0;}
.navbar .top-navbar li > ul.dropdown-menu{margin-top:0;border-color:#364359;border-width:0 1px 1px;}
.navbar .top-navbar li > ul.dropdown-menu .divider{background-color:#495b79;}
.navbar .top-navbar li > ul.dropdown-menu > li:first-child:before{content:"";height:0;position:absolute;left:15px;top:-9px;width:0;transform:rotate(360deg);border-color:transparent transparent #FFF;border-style:solid;border-width:0 9px 9px;}
.navbar .top-navbar li > ul.dropdown-menu > li > a{color:#495b79;border-bottom:1px solid #ebeff2;}
.navbar .top-navbar li > ul.dropdown-menu > li > a i{width:20px;}
.navbar .top-navbar li > ul.dropdown-menu > li > a:hover{background-color:#ebeff2;}
.navbar .top-navbar > .active a,.navbar .top-navbar > .active:hover,.navbar .top-navbar > .active:focus{color:#fff;background-color:none!important;}
.navbar.navbar-fixed-bottom ul.dropdown-menu{border-bottom-left-radius:4px;border-bottom-right-radius:4px;border-color:#364359;border-width:1px!important;}
.navbar.navbar-fixed-bottom ul.dropdown-menu > li:last-child:before{content:"";height:0;position:absolute;right:15px;bottom:-9px!important;width:0;transform:rotate(180deg);border-color:transparent transparent #495b79;border-style:solid;border-width:0 9px 9px;}
.navbar.navbar-fixed-bottom ul.dropdown-menu > li:first-child:before{border-width:0!important;}
.navbar .navbar-text,.navbar .navbar-nav > .active a,.navbar .navbar-nav > .active:hover,.navbar .navbar-nav > .active:focus{color:#fff;}
.navbar .top-navbar .open > a,.navbar .top-navbar .open > a:hover,.navbar .top-navbar .open > a:focus,.navbar .user-menu .open > a,.navbar .user-menu .open > a:hover,.navbar .user-menu .open > a:focus{background-color:none;background:none;color:#99a8c2;border-color:#428bca;}
.navbar .user-menu > li ul.dropdown-menu.inbox > li > a:hover,.navbar .user-menu > li ul.dropdown-menu.notifications > li > a:hover{-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
.navbar .navbar-nav > li > a span.noti {background-color: #5DD0ED;margin-left: -18px; position: absolute;font-size: 10px; z-index: 10;}
.navbar .navbar-nav > li > a span.cart {background-color: #8fce35;margin-left: -5px; position: absolute;font-size: 10px; z-index: 10;}
.navbar .navbar-header .navbar-brand a h6{    font-size: 0.42em;    color: #1c2852;    text-transform: uppercase;    font-weight: 700;    letter-spacing: 0.66em;    margin: 0 0 0 63px;}

.collapse.navbar-collapse {    width: auto;    float: right;}
ul.navbar-right#user-menu {position: absolute; top: 0; right: 0;}
.navbar .navbar-nav > li > a span.username, .navbar .navbar-nav > li > a.settings > span.icon {background-color: rgba(0,0,0,0); border: 0;}
.navbar .navbar-nav > li > a{line-height:initial; }
/* LEFT SIDEBAR */

.top-menu{position:relative;}
.menu-holder{padding: 0;}
.menu-holder .nav li.nav-toggle{text-align:right;margin-top:-25px;background-color:#475b65;}
.menu-holder .nav li.nav-toggle .btn-nav-toggle{background:none;border:none;border-radius:0;}
.menu-holder .nav li.nav-toggle i{font-size:20px;}
.menu-holder .nav li.list-subheading{border-bottom:1px solid #ccd6de;color:#232b39;font-weight:600;padding:15px 15px 5px;}
.menu-holder .nav li a{color:#1c2852;font-size:14px;font-weight:400;padding:10px; border-radius: 30px; margin: 0 10px; background-color: #fff; text-align: center; box-shadow: 0 7px 55px -4px rgba(0,0,0,0.3);}
.menu-holder .nav li a i{display:inline-block;font-size:14px;text-align:center;width:20px;margin:0 10px;}
.menu-holder .nav li a .label{background:none;-webkit-border-radius:18px;-moz-border-radius:18px;border-radius:18px;border:2px solid #99a8c2;color:#495b79;font-size:15px;font-weight:500;float:right;line-height:20px;padding:0 10px;}
.menu-holder .nav > li ul{list-style:none;padding-left:0;display:none;margin-left:0;}
.menu-holder .nav > li ul > li > a{font-size:12px;font-weight:400;display:block;color:#eee;}
.site-holder.mini-sidebar .top-menu{width:60px!important;-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
.site-holder.mini-sidebar .top-menu .nav li.list-subheading{font-size:12px;width:60px!important;overflow:hidden;border-bottom:1px solid #ccd6de;color:#1b242a;padding:5px;}
.site-holder.mini-sidebar .content{margin-left:60px;-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;padding:10px;}
.menu-holder > ul.nav > li > a > span.hidden-minibar.hide{display:none!important;}
.menu-holder .nav > li ul > li > a span.hidden-minibar.hide{display:inline-block!important;}
.menu-holder .nav li a:hover,.menu-holder .nav li.active > a{text-decoration:none;background-color:#80a9e7;color:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;}
.menu-holder .nav li a:hover i,.menu-holder .nav li.active > a i{color:#fff;}
.site-holder.mini-sidebar li.submenu ul{width:200px;display:block;position:absolute;margin-left:60px!important;z-index:300000;margin-top:-40px;border:1px solid #495b79;}
.top-menu.show-fullsidebar,.site-holder.mini-sidebar .top-menu .show-fullsidebar{height:100%;width:100%!important;z-index:10000;min-height:100%;position:absolute;left:0;}

.arrow{float:right;}
.fa.arrow:before{content:"\f107";}
.menu-holder .nav li.active .badge-default{background-color:#8b99c2;}
.mini-sidebar .info-box .info-icon{padding:30px;}
.site-holder.mini-sidebar .top-menu .show-fullsidebar{height:100%;width:100%!important;z-index:10000;min-height:100%;position:absolute;left:0;}
.site-holder.mini-sidebar .arrow,.site-holder.mini-sidebar .badge-default{display:none;}

/*TOP MENU*/
.row.menu {    margin: 67px 0 0;    width: 60%;    float: right;    margin-right: 120px;}
.row.menu .top-menu .nav>li {    float: left;    width: 20%;    padding: 0;    margin: 0;    background: rgba(0,0,0,0);}

/* CONTENT AND SITE HOLDER */
.content .page-header{     
    border: none;
    color: rgba(28, 40, 82, 0.6);
    font-size: 1.3em;
    text-align: left;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 20px 20px;}

.site-holder .content>.row>.col-md-12 >.row.account {margin-top: 40px;}
.row.account>.col-md-6 {padding-left: 25px; padding-right: 25px;}
.account>.col-md-6>.container {background: #fff;border-radius: 7px;margin: 0;}
.acdeets{clear: both;}
.content .page-header .show-info{font-size:16px;color:#54b5df;cursor:pointer;}
.content .page-header .show-info:hover{font-size:18px;}
.nav-input-search{margin-right:30px;float:right;margin-top:-10px;border-color:#99a8c2;}
.site-holder.top-navbar .content{margin-left:20px;}
.site-holder.container{padding-right:0!important;padding-left:0!important;margin-top: 50px;}
.site-holder{overflow:visible;position:relative;}
.menu-holder span.icon{margin-left:10px;font-size:18px;margin-right:10px;    display: none;}
.site-holder .content>.row>.col-md-12{padding:0px;}
.info-box span.icon{    font-size: 15px;    color: #fff;    margin-right: 10px;}
.white-text{    color: white!important;    margin-top: 127px;    margin-bottom: 27px;    margin-left: 10px;    text-transform: uppercase;    font-size: 1.1em;}
.font-15{    font-size: 16px;}
.headcont, .acdeets, .info-box .info-icon{overflow: auto;}
.info-box .info-icon .headcont {
    padding: 0 15px;
}
.col-md-12.acdeetstxt {
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.acdeets>.col-md-6, .acdeets>.col-md-12 {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    color: rgba(28, 40, 69, 0.48);
    padding-left: 40px;
}

.acdeets>.col-md-6 .data, .acdeets>.col-md-12 .data {
    font-size: 1.6em;
    margin: 3px 0;
    text-transform: capitalize;
    font-weight: 400;
    color: #1c2852;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    letter-spacing: 0.02em;
}
.acdeets>.col-md-6.acemail .data{
    text-transform: lowercase;
}

.footcont .action .col-md-6 {
    text-align: center;
    padding: 0 8px;
}
.footcont .action  .col-md-6 a {
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #ffffff;
    padding: 10px;
    border-radius: 30px;
    margin: 20px auto 30px;
    background-color: #1c2852;
    text-align: center;
    box-shadow: 0 7px 55px -4px rgba(0,0,0,0.7);
    display: block;
    width: 100%;
    max-width: 180px;
}






.account>.col-md-6.balance-cont>.container {
    background: #1c2852;
    height: 115px;
    overflow: hidden;
    box-shadow: 0 19px 55px -8px rgba(0,0,0,0.3);
}
/* INFO BOXES */

.row.main-panel-contain {
    margin-top:40px;
}

.row.main-panel-contain .col-md-3 {
    padding-left: 25px;
    padding-right: 25px;
}

.info-box{margin-bottom:20px;border-radius:7px;}
.info-box .info-icon{text-align:center;padding:1px;}
.info-box .info-chart{display:inline-block;width:28%;text-align:center;padding:0;}
.info-box .info-details{padding:10px;}
.info-box .info-details .pull-right{margin-right:5px;}
ul.info-list{margin-top:20px;}
.bg-warn-dark{background:#8fce35!important;}
.bg-inactive-dark{background:#c7c7cc!important;}
.info-box.bg-info.text-white .footcont {    overflow: hidden;    background-color: white;    margin: -1px;}
.info-box.bg-info.text-white{box-shadow: 0 19px 55px -8px rgba(0,0,0,0.3);overflow: hidden;}
.info-box.bg-info.text-white.supportticket{background-color: #ef4160;}
.info-box.bg-info.text-white.activeservice{background-color: #f79943;}
.info-box.bg-info.text-white.invoicesdue{background-color: #53bb71;}
.info-box.bg-info.text-white.voipbalance{background-color: #7fa8e6;}
.badge{background-color: rgba(0,0,0,0)}
.info-icon>.mainstats>span.badge.font-15.bg-white.text-success {    position: relative;    font-size: 7em;    font-weight: 100;    margin: 5px 0 15px;}

.info-box .info-icon .headcont .col-md-12 {
    padding: 10px 0 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    margin: 15px 0 10px;
}
.info-box.bg-info.text-white .footcont .action .col-md-6 a {
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    box-shadow: none;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 0;
    margin: 15px 0;
    letter-spacing: 0.1em;
}

.info-box.bg-info.text-white.supportticket .footcont .action .col-md-6:nth-of-type(1) a{color: #ef4160;border-color: #ef4160;}
.info-box.bg-info.text-white.activeservice .footcont .action .col-md-6:nth-of-type(1) a{color: #e48c3c; border-color: #e48c3c;}
.info-box.bg-info.text-white.invoicesdue .footcont .action .col-md-6:nth-of-type(1) a{color: #53bb71;border-color: #53bb71;}
.info-box.bg-info.text-white.voipbalance .footcont .action .col-md-6:nth-of-type(1) a{color: #7fa8e6;border-color: #7fa8e6;}

.info-box.bg-info.text-white .footcont .action .col-md-6:nth-of-type(2) a {
    background-color: #fff;
    box-shadow: 0 5px 15px -1px rgba(0,0,0,0.3);
}
.info-box.bg-info.text-white.supportticket .footcont .action .col-md-6:nth-of-type(2) a{background-color: #ef4160;border-color: #ef4160;}
.info-box.bg-info.text-white.activeservice .footcont .action .col-md-6:nth-of-type(2) a{background-color: #e48c3c; border-color: #e48c3c;}
.info-box.bg-info.text-white.invoicesdue .footcont .action .col-md-6:nth-of-type(2) a{background-color: #53bb71;border-color: #53bb71;}
.info-box.bg-info.text-white.voipbalance .footcont .action .col-md-6:nth-of-type(2) a{background-color: #7fa8e6;border-color: #7fa8e6;}

.info-icon>.headcont>.col-md-12>span.fa { position: absolute; margin-top: -8px; margin-left: -39px;font-size: 2em;}
.info-icon>.headcont>.col-md-12>span.fa.fa-ticket{ font-size: 2.3em; margin-left: -35px;}
/* BUTTONS */

.btn-primary {
    color: #fff;
    background-color: #80a9e7;
    border-color: #80a9e7;
    border-radius: 26px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1c2852;
    border-color: #1c2852;
}
.btn-primary-dark {
    color: #fff;
    background-color: #1c2852;
    border-color: #1c2852;
    border-radius: 26px;
}
.btn-primary-dark:hover, .btn-primary-dark:focus, .btn-primary-dark:active {
    color: #fff;
    background-color: #80a9e7;
    border-color: #80a9e7;
}
.btn-primary-outline {
    color: #1c2852;
    background-color: rgba(0,0,0,0);
    border-color: #1c2852;
    border-radius: 26px;
}

.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active {
    color: #80a9e7;
    background-color: rgba(0,0,0,0);
    border-color: #80a9e7;
    border-radius: 26px;
}
.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active  {
    color: #80a9e7;
    background-color: rgba(0,0,0,0);
    border-color: #80a9e7;
    border-radius: 26px;
}
.btn-lg{font-size: 15px;}
.btn-default {
    color: #fff;
    background-color: #80a9e7;
    border-color: #80a9e7;
    padding: 4px 8px;
    border-radius: 20px;
    font-size: 13px;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{color:#fff;background-color:#5B6D7D;border-color:#6F8599;}
.btn-warning,.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{color:#fff;background-color:#ff9500;border-color:#ff9500;}

/* SIDE BUTTON */

.hexa-container{position:absolute;right:0;top:60px;z-index:12;}
.hexa-container i.fa {font-size: 20px;padding-top:3px;}
.btn.hexa-btn{float:left;width:45px!important;height:30px;text-align:center;border-radius:5px 0 0 5px!important;opacity:.6;filter:alpha(opacity=60.00000000000001);vertical-align:top;margin:0;}
.btn.hexa-btn a:hover{opacity:1;filter:alpha(opacity=100);}

/* RIGHT SIDEBAR */

.menu-holder > ul.nav > li > a > span.hidden-minibar.hide{display:none!important;}
.menu-holder .nav > li ul > li > a span.hidden-minibar.hide{display:inline-block!important;}
.right-sidebar{float:right;z-index:1000;width:400px;position:absolute;right:25px;top:74px;margin-top:0;background-color:#f9f9f9;border:1px solid #e0e0e0;min-height:390px;-webkit-box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);-moz-box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);box-shadow:0 1px 3px 0 rgba(50,50,50,0.25);}
.right-sidebar-hidden{display:none;}
.right-menu-holder{padding-left:15px;padding-right:22px;}
.right-menu-holder span.icon.icon-close {color: #d9534f;}

/* LOGIN page */
.row.login .content-wrap img {margin-top: 30px; margin-bottom: 0;}
.login-wrapper{position:absolute;top:90px;left:0;right:0;text-align:center;}
.login-wrapper .logo{margin-bottom:45px;position:relative;left:-2px;}
.login-wrapper .box.clgn, .login-wrapper .box.fgtpsw{box-shadow:0 20px 26px 22px rgba(0,0,0,0.1);border-radius:5px;background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #fcfcfc 90%, #ededed 100%);background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#fcfcfc 90%,#ededed 100%);background: radial-gradient(ellipse at center, #ffffff 0%,#fcfcfc 90%,#ededed 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 ); max-width:400px; padding:15px;margin-left: auto; margin-right: auto;margin-top: 5%;}
.login-wrapper .box.clgn h6{text-transform:uppercase;color: #1c2852;font-size: 1.1em;font-weight: 500;letter-spacing: 0.35em;margin: 0 0 50px 75px;}
.login-wrapper .box input[type="text"],.login-wrapper .box input[type="password"],.login-wrapper .box input[type="email"]{font-size:15px;border:none;;background-color: rgba(0,0,0,0);box-shadow: none;}
.login-wrapper .box input:-moz-placeholder{color:#9ba8b6;font-size:15px;letter-spacing:0;font-style:italic;}
.login-wrapper .box a.forgot{display: block;    text-align: right;    text-decoration: none;    color: #1c2852;    font-size: 0.85em;}
.login-wrapper .box .remember{display:block;overflow:hidden;margin-bottom:30px;}
.login-wrapper .box .remember input[type="checkbox"]{float:left;margin-right:8px;}
.login-wrapper .box .remember label{float: left;    display: block;    text-align: right;    text-decoration: none;    color: #1c2852;    font-size: 0.85em;}
.login-wrapper .box .login{text-transform:uppercase;font-size:13px;padding:8px 30px;}
.login-wrapper .no-account{float:none;text-align:center;font-size:14px;margin:25px auto 0;}
.login-wrapper .no-account p{display:inline-block;color:#fff;}
.login-wrapper .no-account a{color:#fff;margin-left:7px;border-bottom:1px solid;transition:all .1s linear;-moz-transition:all .1s linear;-webkit-transition:all .1s linear;-o-transition:all .1s linear;}
.login-wrapper .no-account a:hover{text-decoration:none;color:#fff;border-bottom-color:#fff;}
.login-wrapper .input-group-addon{background-color:transparent;color:#1c2852;border:none;}
.logo-page{margin-bottom:30px;}
.logo{color:#fff;font-size:33px;font-weight:100;}
.login-wrapper .box input:-ms-input-placeholder,.login-wrapper .box input::-webkit-input-placeholder{color:#9ba8b6;font-style:italic;letter-spacing:0;font-size:15px;}
.displaynone{display:none!important;}
.box .text-alert{margin: -25px 10px 15px;    padding: 5px; transition: all 0.5s ease; }
.row.login .content-wrap form {padding: 0 20px;}
.input-group.input-group-lg{border-bottom: 1px solid #1c2852}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {height: 36px; padding: 0px 18px;font-size: 1.8em;line-height: 1.33;border-radius: 0;}
input#rememberme {margin: 1px 0 0 -16px;}
.box.fgtpsw input[type=submit].btn-block, .box.fgtpsw input[type=button].btn-block {width:100%;max-width: 200px;margin-left: 85px;}
.box .bg-success {background-color: #dff0d8; padding: 15px 0;}
.box.fgtpsw form{margin-top: 20px;}
p.rtncl {display: block;clear: both;float: none;font-size: 0.8em;padding: 20px 0 0;}
p.rtncl a {color: #1c2852;}
.box.fgtpsw .text-alert {margin:0;}



/* QUICK SERVER LOGIN ADDON */

.percentage{font-size:13px;font-weight:400;display:inline-block;vertical-align:top;}
.easyPieChart,.easy-pie-chart{position:relative;text-align:center;}
.easyPieChart canvas,.easy-pie-chart canvas{position:absolute;top:0;left:0;}
.infobox-small{height:52px;text-align:left;}
.infobox-small>.infobox-progress{display:inline-block;width:40px;max-width:40px;height:42px;line-height:38px;vertical-align:middle;}
.infobox-small>.infobox-data{display:inline-block;text-align:left;font-size:11px;vertical-align:middle;max-width:115px;min-width:0;}
.qsl a:hover,.right-menu-holder a:hover{text-decoration:none;}

.balancetext {
    float: left;
    width: 25%;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    padding-top: 40px;
    margin-left: -5px;
    line-height: 1.2em;
}
.balance {
    font-size: 4em;
    float: left;
    width: 50%;
    color: #ef4160;
    padding-top: 20px;
}
.addfund {
    float: right;
    width: 25%;
    background-color: #ef4160;
    height: 120px;
    margin-right: -15px;
    padding-top: 40px;
    text-align: center;
    font-size: 1.5em;
}
.addfund span.badge.badge-circle.badge-important {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-left: -5px;
}


.col-md-6.referal {
    margin-top: 20px;
}
.account>.col-md-6.referal>.container {
    height: 218px;
    overflow: hidden;
    box-shadow: 0 19px 55px -8px rgba(0,0,0,0.3);
}
.cashback-head {
    font-size: 3em;
    padding-top: 15px;
    line-height: 1.3em;
    text-align: center;
    color: #1c2852;
}



.site-holder .content>.row>.col-md-12>div>.nav-tabs{
    border: none;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.account-wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.row.details {
    background: #fff;
    border-radius: 0 7px 7px 7px;
    padding: 20px 10px;
}
.row.details>div {overflow: auto;}
.row.account .col-lg-6 select.form-control {
    border-radius: 18px;
}
.resultsbox{
    overflow: auto;
    margin-bottom: 10px;
}
p.invdesc, p.invnum {
    font-size: 11px;
    float:left;
    margin-bottom: 10px;
}
p.invnum {
    float:right;
}
.col-lg-4>.form-group>label {
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(28, 40, 69, 0.48);
    padding-left: 20px;
}
.col-lg-4>.form-group>input {
    font-size: 1.1em;
    margin: 0;
    text-transform: capitalize;
    color: #1c2852;
    box-shadow: none;
    border: 1px solid rgb(243, 243, 243);
    background: rgb(243, 243, 243);
    letter-spacing: 0.02em;
    height: auto;
    line-height: 1em;
    padding-left: 20px;
    font-weight: 400;
}
.row.details>div.table-wrap {
    margin: 0 20px;
    padding: 15px;
    background-color: rgba(110, 146, 203, 0.22);
    border-radius: 7px;
}
.col-lg-4>.form-group>input:focus {
    background-color: #6e92cb;
    color: white;
}
.form-control {
    border-radius: 26px;
}
.col-lg-4>.form-group>input#email {
    text-transform: inherit;
}

.col-lg-4>.form-group {
    margin-top: 15px;
}
.row.details>div.btn-toolbar {
    margin-top: 20px;
    text-align: center;
}
.row.details>div.btn-toolbar > input {
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding: 10px;
    margin: 20px auto 30px;
    width: 100%;
    max-width: 180px;
}
.row.details>div.btn-toolbar>input.btn.btn-primary-outline {
    margin-left: 20px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: rgba(255, 255, 255, 0.5);
}
/* RESPONSIVE ADJUSTMENTS */

@media (max-width: 768px) {
    .top-menu{height:100%;min-height:100%;position:absolute;left:-280px;}
    .content{margin-left:0!important;padding:15px;}
    .top-menu,.content{-webkit-transition:300ms ease;-moz-transition:300ms ease;-o-transition:300ms ease;-ms-transition:300ms ease;transition:300ms ease;}
    .btn-nav-toggle{display:none;}
    .navbar .btn-nav-toggle-responsive{color:#fff;display:inline-block;margin-left:15px;}
}
@media (min-width: 769px) {
    .navbar .btn-nav-toggle-responsive{display: none;}
} 
@media (min-width: 1280px) {
    .navbar .btn-nav-toggle-responsive{display:none;}
}
@media (max-width: 767px) {
    .mail-pagination{margin-top:30px;}
    .mails{margin-top:60px;}
    .right-sidebar{display:none;}
}
@media (max-width :480px) {
    #pwstrengthbox{display:block;margin:10px auto 0;}
}


/* jazz*/
.info-aa { display: none; }
@media only screen and (max-width: 959px) {
    .info-aa { display: block; }
}


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-width: 0 0 3px;
    display: block;
    margin-bottom: 1em;
    border-radius: 7px;
    overflow: hidden;
    padding:.45em;
  }
  table td, .table tbody>tr>td, .table tbody>tr>td{
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .9em;
    text-align: right;
    border-top: 0;
    letter-spacing: 0.05em;
  }
.table tbody>tr>td:last-child{
    border-bottom:0;
}
  table td a{
    text-align: right;
  }
  table td span.label{
    margin-right: 0;
  }
.table tbody>tr>td.inv-vw{
    text-align: center;
    margin-top: 10px;
}
.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #f9f9f9;
}
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}