<!DOCTYPE html>
<!-- Overdue Invoices report per Ben #1522 -->
<table width="100%" border="0" cellspacing="5" cellpadding="10">
  <tbody>
    <tr>
      <td colspan="2"><h1>Overdue Invoices</h1></td>
    </tr>
    <tr>
      <td width="37%"><h2>Overdue Invoices: <a href="#">15</a></h2></td>
      <td width="37%"><h2>Total Overdue: $SUM<a href="#"></a></h2></td>
    </tr>
  </tbody>
</table>
<table bgcolor="#666666" border="1" cellpadding="10" cellspacing="1" width="100%">
  <tbody>
    <tr>
      <td bgcolor="#EFEFEF" width="27%"><strong>Customer Details</strong></td>
      <td bgcolor="#EFEFEF" width="56%"><strong>Invoices</strong></td>
    </tr>
    <tr>
      <td><strong>Client ID:</strong> <a href="https://my.hd.net.nz/billing_hd_ems_007/clientssummary.php?userid=12466">12466</a><br>
        <strong>Name:</strong> Matt Dyer<br>
        <strong>Company:        HostBee Group Limited</strong> <br>
        <strong>Phone:</strong> 0279187546<br>
        <br>
        <br>
        <br></td>
      <td><table cellpadding="10" cellspacing="1" width="100%">
          <tbody>
            <tr>
              <th>Invoice #</th>
              <th>Was Due</th>
              <th>Description</th>
              <th>Overdue Amount</th>
            </tr>
            <tr>
              <td><a href="https://my.hd.net.nz/billing_hd_ems_007/invoices.php?action=edit&id=165376">165376</a></td>
              <td>2015-03-11<br>
                463 days ago</td>
              <td><ul>
                  <ul>
                    <li>2x L5520 Quad Core - 24GB RAM - honeypuff.hostbee.co.nz (11/03/2015 - 10/04/2015)  HDD 1: SATA 2000GB  HDD 2: SATA 2000GB  HDD 3: SATA 80GB  IP Addresses: /29 IP Address Range  National Bandwidth: Unlimited 100Mbps Shared Pool International Bandwidth: Unlimited 100Mbps Shared Pool  Operating System: CentOS 64-bit  Control Panel (*Optional): None  Automated Backups (*Optional): None  Advanced Monitoring (*Optional): None Fortigate Virtual Firewall (*Optional): None  Server Management (*Optional): Self-managed</li>
                  </ul>
                  <ul>
                    <li>Server Management Basic - honeypuff.hostbee.co.nz (11/03/2015 - 10/04/2015)</li>
                  </ul>
                  <ul>
                    <li>Late Fee (Added 11/08/2015)</li>
                  </ul>
                </ul></td>
<td><strong>$403.58</strong></td>
            </tr>
            <tr>
              <td><a href="https://my.hd.net.nz/billing_hd_ems_007/invoices.php?action=edit&id=179605">179605</a></td>
              <td>2016-04-18<br>
                59 days ago</td>
              <td><ul>
                  <ul>
                    <li>/27 network (29 usable IPs) - 49.50.248.128/27 (18/04/2016 - 17/05/2016)</li>
                  </ul>
                  <ul>
                    <li>Late Fee (Added 25/04/2016)</li>
                  </ul>
                </ul></td>
<td><strong>$129.55</strong></td>
            </tr>
            <tr>
              <td><a href="https://my.hd.net.nz/billing_hd_ems_007/invoices.php?action=edit&id=181324">181324</a></td>
              <td>2016-05-18<br>
                29 days ago</td>
              <td><ul>
                  <ul>
                    <li>/27 network (29 usable IPs) - 49.50.248.128/27 (18/05/2016 - 17/06/2016)</li>
                  </ul>
                  <ul>
                    <li>Late Fee (Added 25/05/2016)</li>
                  </ul>
                </ul></td>
<td><strong>$129.55</strong></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>$662.68</td>
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td align="left" bgcolor="#FFFFFF"><strong>Email Customer List of Overdue Invoices:</strong> <a href="javascript:void(0);" onclick="javascript:document.getElementById('client_custom_email_12466').submit();">matt@hostbee.co.nz</a></td>
      <td align="right" bgcolor="#FFFFFF"><strong><a href="javascript:void(0)" onclick="javascript:if (confirm('Are you sure you want to send this person an overdue account e-mail?')) document.getElementById('client_predefined_email_12466').submit(); else                              return false;">Send official 48-hour suspension e-mail</a></strong></td>
    </tr>
  </tbody>
</table> 
