<?php
    $db_host = 'localhost';
    $db_username = 'ra';
    $db_password = 'rapassword';
    $db_name = 'ra';
    $cc_encryption_hash = 'DONOTUSEINPRODUCTION';
    $templates_compiledir = 'templates_c/';
    $mysql_charset = 'utf8';
?>

